body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
}

.nav-buttons a {
  margin-left: 10px;
}