<br/>
<h4>Available drones</h4>
<br/>
{{#each drones}}
    <div>
        <div class="all-drones-list"><p>Name: {{this.name}}</p></div>
        <div class="all-drones-list"><p>Number of Propellers: {{this.propellers}}</p></div>
        <div class="all-drones-list"><p>Maximum Speed: {{this.maxSpeed}}</p></div>
        <div class="all-drones-list"><p>---------------------------------</p></div>
    </div>
{{/each}}